In [15]:
import json
from pathlib import Path

# Path to train.json (convert string to Path)
train_path = Path(
    "C:/Users/JOHN EZE/Desktop/Research/chichewa-text2sql/data/train/train.json"
)

# Load train.json

with train_path.open("r", encoding="utf-8") as f:
    train_data = json.load(f)

# Sanity check
print(f"Loaded {len(train_data)} training examples")
train_data[0]

Loaded 400 training examples

{'id': 1,
 'question_en': 'Which district produced the most Maize',
 'question_ny': 'Ndi boma liti komwe anakolola chimanga chambiri?',
 'sql_statement': "WITH max_yield_district AS (\n    SELECT district\n    FROM production\n    WHERE crop = 'Maize'\n    ORDER BY yield DESC\n    LIMIT 1\n)\nSELECT district\nFROM max_yield_district;",
 'sql_result': "[('Lilongwe',)]",
 'difficulty_level': 'hard',
 'table': 'production'}

In [16]:
import pandas as pd

df = pd.DataFrame(train_data)

df.head()

,id,question_en,question_ny,sql_statement,sql_result,difficulty_level,table
0,1,Which district produced the most Maize,Ndi boma liti komwe anakolola chimanga chambiri?,WITH max_yield_district AS (\n SELECT distr...,"[('Lilongwe',)]",hard,production
1,2,Where was the most rice harvested?,Ndi boma liti komwe anakolola rishi chambiri?,WITH max_yield_district AS (\n SELECT distr...,"[('Karonga',)]",hard,production
2,3,Which are the top 5 maize producing districts?,Ndi maboma ati asanu omwe amakolola chimanga c...,WITH max_yield_district AS (\n SELECT distr...,"[('Lilongwe',), ('Kasungu',), ('Dowa',), ('Mzi...",hard,production
3,4,Which crops did well in Rumphi in terms of yie...,Ndi mbeu zanji zisanu zapamwamba anakolola bwi...,SELECT crop FROM production WHERE district = '...,"[('Cassava',), ('Maize',), ('Sweet potatoes',)...",medium,production
4,5,Whichare the top 5 districts that harvested th...,Ndi maboma ati asanu omwe anakolola kachipiri ...,WITH max_yield_district AS (\n SELECT distr...,"[('Lilongwe',), ('Dowa',), ('Nkhotakota',), ('...",hard,production

In [17]:
df.sample(10)

,id,question_en,question_ny,sql_statement,sql_result,difficulty_level,table
11,12,How much Maize was harvested Ntcheu?,Ndi chimanga chochuluka bwanj chidakololedwa m...,SELECT Yield FROM production WHERE District = ...,"[(81248.0,)]",easy,production
236,237,Food insecurity percentage in Rumphi?,Peresenti ya kusowa chakudya ku Rumphi?,SELECT percentage_population FROM food_insecur...,"[(65,), (25,), (10,), (0,), (0,), (75,), (20,)...",easy,food_insecurity
243,244,Where is it cheap to buy Maize?,Ndingakagule kuti chimanga chotchipa?,WITH latest_date AS (\n SELECT MAX(collecti...,"[('Bangula', None), ('Bowe', None), ('Bvumbwe'...",hard,commodity_prices
151,152,What is the total population in CHIRADZULU?,Ndi anthu angati ku CHIRADZULU?,SELECT SUM(CAST(total_population AS INTEGER)) ...,"[(53477,)]",easy,population
301,302,Which commodity shows the most stable prices i...,Ndi katundu uti yemwe akuwonetsa kusakhazikika...,SELECT commodity FROM commodity_prices WHERE d...,"[('Rice',)]",hard,commodity_prices
46,47,How much Maize in total was harvested in the c...,Ndi chimanga chochuluka bwanji chidakololedwa ...,SELECT SUM(Yield) as Total_Yield FROM producti...,"[(3111592.95,)]",easy,production
371,372,Which company had the lowest average trading v...,Ndi kampani iti yomwe inali ndi kuchuluka koch...,SELECT company_name FROM mse_daily GROUP BY co...,"[('Sunbird Tourism',)]",medium,mse_daily
146,147,List TAs in Neno,Mafumu ku Neno,SELECT DISTINCT ta_name FROM population WHERE ...,"[('TA Chekucheku',), ('Neno Boma',), ('TA Symo...",easy,population
276,277,Which commodity had prices recorded in all dis...,Ndi chakudya chiti chomwe chinalembedwa miteng...,SELECT commodity FROM commodity_prices GROUP B...,"[('Beans',), ('Cow peas',), ('Groundnuts',), (...",hard,commodity_prices
155,156,How many females in Blantyre District?,Ndi akazi angati ku Blantyre District?,SELECT SUM(population_female) FROM population ...,"[(36676.0,)]",easy,population

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                400 non-null    int64
 1   question_en       400 non-null    object
 2   question_ny       400 non-null    object
 3   sql_statement     400 non-null    object
 4   sql_result        400 non-null    object
 5   difficulty_level  400 non-null    object
 6   table             400 non-null    object
dtypes: int64(1), object(6)
memory usage: 22.0+ KB

In [20]:
df.table.value_counts()

table
production          80
population          80
food_insecurity     80
commodity_prices    80
mse_daily           80
Name: count, dtype: int64

In [6]:
valid_tables = {
    "production",
    "commodity_prices",
    "population",
    "mse_daily",
    "food_insecurity"
}

set(df["table"]) - valid_tables

set()

In [7]:
# Function to test a single train example
def test_sql_instance(instance):
    sql_query = instance["sql_statement"]
    try:
        cursor.execute(sql_query)
        result = cursor.fetchall()
        print(f"Query: {sql_query}\nResult: {result}\n")
    except Exception as e:
        print(f"Query: {sql_query}\nError: {e}\n")

# Test each instance one by one
for i, instance in enumerate(train_data):
    print(f"Example {i+1}:")
    test_sql_instance(instance)
    # Optionally, break after first few for sanity check
    # if i > 4: break

Example 1:
Query: WITH max_yield_district AS (
    SELECT district
    FROM production
    WHERE crop = 'Maize'
    ORDER BY yield DESC
    LIMIT 1
)
SELECT district
FROM max_yield_district;
Error: name 'cursor' is not defined

Example 2:
Query: WITH max_yield_district AS (
    SELECT district
    FROM production
    WHERE crop = 'Rice'
    ORDER BY yield DESC
    LIMIT 1)
SELECT district
FROM max_yield_district;
Error: name 'cursor' is not defined

Example 3:
Query: WITH max_yield_district AS (
    SELECT district
    FROM production
    WHERE crop = 'Maize'
    ORDER BY yield DESC
    LIMIT 5)
SELECT district
FROM max_yield_district;
Error: name 'cursor' is not defined

Example 4:
Query: SELECT crop FROM production WHERE district = 'Rumphi' ORDER BY yield DESC LIMIT 5;
Error: name 'cursor' is not defined

Example 5:
Query: WITH max_yield_district AS (
    SELECT district
    FROM production
    WHERE crop = 'Tobacco'
    ORDER BY yield DESC
    LIMIT 5)
SELECT district
FROM max_yield_district;
Error: name 'cursor' is not defined

Example 6:
Query: WITH max_yield_district AS (
        SELECT district
        FROM production
        WHERE crop = 'Soy beans'
        ORDER BY yield DESC
        LIMIT 5)
    SELECT district
    FROM max_yield_district;
Error: name 'cursor' is not defined

Example 7:
Query: WITH district_yields AS (
    SELECT district, SUM(yield) AS total_yield
    FROM production
    WHERE crop = 'Maize' AND district IN ('Lilongwe', 'Kasungu')
    GROUP BY district
        )
        SELECT district
        FROM district_yields
        ORDER BY total_yield DESC
        LIMIT 1;
Error: name 'cursor' is not defined

Example 8:
Query: SELECT District, MAX(Yield) as Max_Yield FROM production WHERE Crop = 'Macademia' AND Season = '2023-2024';
Error: name 'cursor' is not defined

Example 9:
Query: SELECT Yield FROM production WHERE District = 'Dowa' AND Crop = 'Apples';
Error: name 'cursor' is not defined

Example 10:
Query: SELECT SUM(Yield) as Total_Yield FROM production WHERE Crop = 'Beans' AND Season = '2023-2024';
Error: name 'cursor' is not defined

Example 11:
Query: SELECT Yield FROM production WHERE District = 'Nkhotakota' AND Crop = 'Wheat';
Error: name 'cursor' is not defined

Example 12:
Query: SELECT Yield FROM production WHERE District = 'Ntcheu' AND Crop = 'Maize';
Error: name 'cursor' is not defined

Example 13:
Query: SELECT District, MAX(Yield) as Max_Yield FROM production WHERE Season = '2023-2024';
Error: name 'cursor' is not defined

Example 14:
Query: SELECT District, MAX(Yield) as Max_Yield FROM production WHERE Crop = 'Sweet potatoes' AND Season = '2023-2024';
Error: name 'cursor' is not defined

Example 15:
Query: SELECT District, MAX(Yield) as Max_Yield FROM production WHERE Crop = 'Okra' AND Season = '2023-2024';
Error: name 'cursor' is not defined

Example 16:
Query: SELECT District, MAX(Yield) as Max_Yield FROM production WHERE Crop = 'Peaches' AND Season = '2023-2024';
Error: name 'cursor' is not defined

Example 17:
Query: SELECT District, MAX(Yield) as Max_Yield FROM production WHERE Season = '2023-2024';
Error: name 'cursor' is not defined

Example 18:
Query: SELECT Yield FROM production WHERE District = 'Chitipa' AND Crop = 'Guava';
Error: name 'cursor' is not defined

Example 19:
Query: SELECT District, MAX(Yield) as Max_Yield FROM production WHERE Crop = 'Avocado pear';
Error: name 'cursor' is not defined

Example 20:
Query: SELECT District, MAX(Yield) as Max_Yield FROM production WHERE Season = '2023-2024';
Error: name 'cursor' is not defined

Example 21:
Query: SELECT District, MAX(Yield) as Max_Yield FROM production WHERE Season = '2023-2024';
Error: name 'cursor' is not defined

Example 22:
Query: SELECT District, MAX(Yield) as Max_Yield FROM production WHERE Season = '2023-2024';
Error: name 'cursor' is not defined

Example 23:
Query: SELECT Yield FROM production WHERE District = 'Ntchisi' AND Crop = 'Beans' AND Season = '2023-2024';
Error: name 'cursor' is not defined

Example 24:
Query: SELECT SUM(Yield) as Total_Yield FROM production WHERE Crop = 'Paprika' AND Season = '2023-2024';
Error: name 'cursor' is not defined

Example 25:
Query: SELECT District, MAX(Yield) as Max_Yield FROM production WHERE Season = '2023-2024';
Error: name 'cursor' is not defined

Example 26:
Query: SELECT SUM(Yield) as Total_Yield FROM production WHERE Crop = 'Cassava' AND Season = '2023-2024';
Error: name 'cursor' is not defined

Example 27:
Query: SELECT SUM(Yield) as Total_Yield FROM production WHERE Crop = 'Cassava';
Error: name 'cursor' is not defined

Example 28:
Query: SELECT District, MAX(Yield) as Max_Yield FROM production WHERE Crop = 'Rice';
Error: name 'cursor' is not defined

Example 29:
Query: SELECT district FROM production WHERE crop = 'Maize' AND season = '2021-2022' ORDER BY yield DESC LIMIT 1;
Error: name 'cursor' is not defined

Example 30:
Query: SELECT yield FROM production WHERE district = 'Mangochi' AND crop = 'Cassava' AND season = '2022-2023';
Error: name 'cursor' is not defined

Example 31:
Query: SELECT crop FROM production WHERE district = 'Kasungu' AND season = '2023-2024' ORDER BY yield DESC LIMIT 1;
Error: name 'cursor' is not defined

Example 32:
Query: SELECT SUM(yield) FROM production WHERE crop = 'Rice' AND season = '2023-2024';
Error: name 'cursor' is not defined

Example 33:
Query: SELECT district FROM production WHERE crop = 'Maize' AND season = '2022-2023' ORDER BY yield ASC LIMIT 1;
Error: name 'cursor' is not defined

Example 34:
Query: SELECT yield FROM production WHERE district = 'Salima' AND crop = 'Cassava' AND season = '2021-2022';
Error: name 'cursor' is not defined

Example 35:
Query: SELECT crop FROM production WHERE district = 'Mzimba' AND season = '2022-2023' ORDER BY yield DESC LIMIT 1;
Error: name 'cursor' is not defined

Example 36:
Query: SELECT yield FROM production WHERE district = 'Dedza' AND crop = 'Groundnuts' AND season = '2023-2024';
Error: name 'cursor' is not defined

Example 37:
Query: SELECT district FROM production WHERE crop = 'Rice' AND season = '2021-2022' ORDER BY yield DESC LIMIT 1;
Error: name 'cursor' is not defined

Example 38:
Query: SELECT crop FROM production WHERE district = 'Karonga' AND season = '2023-2024' ORDER BY yield DESC LIMIT 3;
Error: name 'cursor' is not defined

Example 39:
Query: SELECT SUM(yield) FROM production WHERE crop = 'Maize' AND season = '2022-2023';
Error: name 'cursor' is not defined

Example 40:
Query: SELECT district FROM production WHERE crop = 'Soybeans' AND season = '2023-2024' AND district IN ('Kasungu','Lilongwe') ORDER BY yield DESC LIMIT 1;
Error: name 'cursor' is not defined

Example 41:
Query: SELECT crop FROM production WHERE district = 'Mangochi' AND season = '2021-2022' ORDER BY yield ASC LIMIT 1;
Error: name 'cursor' is not defined

Example 42:
Query: SELECT AVG(yield) FROM production WHERE crop = 'Rice' AND season = '2023-2024';
Error: name 'cursor' is not defined

Example 43:
Query: SELECT district FROM production WHERE crop = 'Maize' AND season = '2022-2023' AND yield > (SELECT AVG(yield) FROM production WHERE crop = 'Maize' AND season = '2022-2023');
Error: name 'cursor' is not defined

Example 44:
Query: SELECT crop FROM production WHERE season = '2023-2024' GROUP BY crop ORDER BY SUM(yield) DESC LIMIT 1;
Error: name 'cursor' is not defined

Example 45:
Query: SELECT p1.district FROM production p1 JOIN production p2 ON p1.district = p2.district WHERE p1.crop = 'Maize' AND p2.crop = 'Maize' AND p1.season = '2021-2022' AND p2.season = '2022-2023' ORDER BY (p1.yield - p2.yield) DESC LIMIT 1;
Error: name 'cursor' is not defined

Example 46:
Query: SELECT crop FROM production WHERE season = '2022-2023' GROUP BY crop HAVING COUNT(DISTINCT district) = (SELECT COUNT(DISTINCT district) FROM production WHERE season = '2022-2023');
Error: name 'cursor' is not defined

Example 47:
Query: SELECT SUM(Yield) as Total_Yield FROM production WHERE Crop = 'Maize';
Error: name 'cursor' is not defined

Example 48:
Query: SELECT SUM(Yield) as Total_Yield FROM production WHERE Crop = 'Cotton ';
Error: name 'cursor' is not defined

Example 49:
Query: SELECT district FROM production WHERE crop = 'Maize' GROUP BY district ORDER BY SUM(yield) DESC LIMIT 1;
Error: name 'cursor' is not defined

Example 50:
Query: SELECT SUM(yield) FROM production WHERE crop = 'Soy beans' AND season = '2023-2024';
Error: name 'cursor' is not defined

Example 51:
Query: SELECT district FROM production WHERE crop = 'Cassava' AND season = '2023-2024' ORDER BY yield ASC LIMIT 1;
Error: name 'cursor' is not defined

Example 52:
Query: SELECT yield FROM production WHERE district = 'Salima' AND crop = 'Rice' AND season = '2022-2023';
Error: name 'cursor' is not defined

Example 53:
Query: SELECT crop FROM production WHERE district = 'Dedza' AND season = '2023-2024' ORDER BY yield ASC LIMIT 1;
Error: name 'cursor' is not defined

Example 54:
Query: SELECT AVG(yield) FROM production WHERE crop = 'Maize' AND season = '2023-2024';
Error: name 'cursor' is not defined

Example 55:
Query: SELECT district FROM production WHERE crop = 'Groundnuts' AND season = '2023-2024' AND district IN ('Mchinji','Kasungu') ORDER BY yield DESC LIMIT 1;
Error: name 'cursor' is not defined

Example 56:
Query: SELECT DISTINCT district FROM production WHERE crop = 'Tobacco' AND season = '2021-2022';
Error: name 'cursor' is not defined

Example 57:
Query: SELECT SUM(yield) FROM production WHERE crop = 'Sweet potatoes' AND season = '2023-2024';
Error: name 'cursor' is not defined

Example 58:
Query: SELECT district FROM production WHERE season = '2023-2024' GROUP BY district ORDER BY COUNT(DISTINCT crop) DESC LIMIT 1;
Error: name 'cursor' is not defined

Example 59:
Query: SELECT crop FROM production WHERE season = '2022-2023' GROUP BY crop ORDER BY SUM(yield) DESC LIMIT 1;
Error: name 'cursor' is not defined

Example 60:
Query: SELECT COUNT(DISTINCT district) FROM production WHERE crop = 'Maize' AND season = '2023-2024';
Error: name 'cursor' is not defined

Example 61:
Query: SELECT AVG(yield) FROM production WHERE crop = 'Rice' AND season = '2021-2022';
Error: name 'cursor' is not defined

Example 62:
Query: SELECT district FROM production WHERE season = '2023-2024' GROUP BY district ORDER BY SUM(yield) DESC LIMIT 1;
Error: name 'cursor' is not defined

Example 63:
Query: SELECT DISTINCT crop FROM production WHERE district = 'Ntcheu' AND season = '2022-2023';
Error: name 'cursor' is not defined

Example 64:
Query: SELECT district FROM production WHERE season = '2021-2022' GROUP BY district ORDER BY SUM(yield) ASC LIMIT 1;
Error: name 'cursor' is not defined

Example 65:
Query: SELECT COUNT(DISTINCT crop) FROM production WHERE season = '2023-2024';
Error: name 'cursor' is not defined

Example 66:
Query: SELECT crop FROM production WHERE season = '2023-2024' GROUP BY crop HAVING AVG(yield) > 500;
Error: name 'cursor' is not defined

Example 67:
Query: SELECT district FROM production WHERE season = '2022-2023' GROUP BY district HAVING SUM(CASE WHEN crop = 'Maize' THEN 1 ELSE 0 END) > 0 AND SUM(CASE WHEN crop = 'Rice' THEN 1 ELSE 0 END) > 0;
Error: name 'cursor' is not defined

Example 68:
Query: SELECT crop FROM production WHERE season = '2023-2024' GROUP BY crop ORDER BY (MAX(yield) - MIN(yield)) DESC LIMIT 1;
Error: name 'cursor' is not defined

Example 69:
Query: SELECT p1.district FROM production p1 JOIN production p2 ON p1.district = p2.district WHERE p1.crop = 'Maize' AND p2.crop = 'Maize' AND p1.season = '2022-2023' AND p2.season = '2023-2024' GROUP BY p1.district ORDER BY (p2.yield - p1.yield) DESC LIMIT 1;
Error: name 'cursor' is not defined

Example 70:
Query: SELECT COUNT(*) FROM (SELECT crop FROM production WHERE season = '2023-2024' GROUP BY crop HAVING SUM(yield) > 1000);
Error: name 'cursor' is not defined

Example 71:
Query: SELECT district FROM production WHERE crop = 'Groundnuts' GROUP BY district HAVING COUNT(DISTINCT season) = (SELECT COUNT(DISTINCT season) FROM production WHERE crop = 'Groundnuts');
Error: name 'cursor' is not defined

Example 72:
Query: SELECT MAX(yield) - MIN(yield) FROM production WHERE crop = 'Rice' AND season = '2022-2023';
Error: name 'cursor' is not defined

Example 73:
Query: SELECT crop FROM production WHERE season = '2023-2024' GROUP BY crop ORDER BY COUNT(DISTINCT district) DESC LIMIT 1;
Error: name 'cursor' is not defined

Example 74:
Query: SELECT COUNT(DISTINCT d.district) FROM (SELECT DISTINCT district FROM production) d LEFT JOIN production p ON d.district = p.district AND p.crop = 'Cassava' AND p.season = '2023-2024' WHERE p.yield IS NULL;
Error: name 'cursor' is not defined

Example 75:
Query: SELECT district FROM production WHERE season = '2023-2024' GROUP BY district ORDER BY (MAX(yield) - MIN(yield)) ASC LIMIT 1;
Error: name 'cursor' is not defined

Example 76:
Query: SELECT AVG(yield) FROM production WHERE season = '2021-2022';
Error: name 'cursor' is not defined

Example 77:
Query: SELECT district FROM production GROUP BY district HAVING COUNT(DISTINCT season) = 1;
Error: name 'cursor' is not defined

Example 78:
Query: SELECT DISTINCT crop FROM production WHERE crop NOT IN (SELECT DISTINCT crop FROM production WHERE season = '2021-2022');
Error: name 'cursor' is not defined

Example 79:
Query: SELECT SUM(yield) FROM production WHERE crop = 'Grape fruits' AND season = '2023-2024';
Error: name 'cursor' is not defined

Example 80:
Query: SELECT AVG(yield) FROM production WHERE crop = 'Chick peas';
Error: name 'cursor' is not defined

Example 81:
Query: SELECT COUNT(DISTINCT district_name) FROM population WHERE region_name = 'Central';
Error: name 'cursor' is not defined

Example 82:
Query: SELECT SUM(population_male) FROM population WHERE district_name = '  Machinga  ';
Error: name 'cursor' is not defined

Example 83:
Query: SELECT COUNT(DISTINCT district_name) FROM population WHERE region_name = 'Southern';
Error: name 'cursor' is not defined

Example 84:
Query: SELECT DISTINCT ta_name FROM population WHERE district_name = '  Phalombe  ';
Error: name 'cursor' is not defined

Example 85:
Query: SELECT SUM(population_female) FROM population WHERE district_name = 'Chikwawa';
Error: name 'cursor' is not defined

Example 86:
Query: SELECT DISTINCT district_name FROM population WHERE region_name = 'Central';
Error: name 'cursor' is not defined

Example 87:
Query: SELECT SUM(CAST(total_population AS INTEGER)) FROM population WHERE region_name = 'Central';
Error: name 'cursor' is not defined

Example 88:
Query: SELECT SUM(population_male) FROM population WHERE district_name = '  Nkhotakota  ';
Error: name 'cursor' is not defined

Example 89:
Query: SELECT DISTINCT district_name FROM population WHERE region_name = 'Southern';
Error: name 'cursor' is not defined

Example 90:
Query: SELECT DISTINCT ta_name FROM population WHERE district_name = '  Dowa  ';
Error: name 'cursor' is not defined

Example 91:
Query: SELECT DISTINCT ta_name FROM population WHERE district_name = '  Mzimba  ';
Error: name 'cursor' is not defined

Example 92:
Query: SELECT SUM(population_male) FROM population WHERE district_name = '  Blantyre City  ';
Error: name 'cursor' is not defined

Example 93:
Query: SELECT SUM(population_male) FROM population WHERE district_name = '  Ntcheu  ';
Error: name 'cursor' is not defined

Example 94:
Query: SELECT SUM(CAST(total_population AS INTEGER)) FROM population WHERE region_name = 'Northern';
Error: name 'cursor' is not defined

Example 95:
Query: SELECT SUM(number_households) FROM population WHERE district_name = 'CHIRADZULU';
Error: name 'cursor' is not defined

Example 96:
Query: SELECT SUM(population_male) FROM population WHERE district_name = 'Blantyre City';
Error: name 'cursor' is not defined

Example 97:
Query: SELECT DISTINCT ta_name FROM population WHERE district_name = 'Chiradzulu';
Error: name 'cursor' is not defined

Example 98:
Query: SELECT SUM(CAST(total_population AS INTEGER)) FROM population WHERE ta_name = 'Area 36';
Error: name 'cursor' is not defined

Example 99:
Query: SELECT DISTINCT ta_name FROM population WHERE district_name = '  Mangochi  ';
Error: name 'cursor' is not defined

Example 100:
Query: SELECT SUM(CAST(total_population AS INTEGER)) FROM population WHERE district_name = '  Mangochi  ';
Error: name 'cursor' is not defined

Example 101:
Query: SELECT SUM(number_households) FROM population WHERE district_name = 'Balaka District';
Error: name 'cursor' is not defined

Example 102:
Query: SELECT SUM(number_households) FROM population WHERE district_name = 'CHIKWAWA';
Error: name 'cursor' is not defined

Example 103:
Query: SELECT SUM(CAST(total_population AS INTEGER)) FROM population WHERE ta_name = 'Area 13';
Error: name 'cursor' is not defined

Example 104:
Query: SELECT SUM(number_households) FROM population WHERE district_name = 'Chiradzulu District';
Error: name 'cursor' is not defined

Example 105:
Query: SELECT COUNT(DISTINCT district_name) FROM population WHERE region_name = 'Northern';
Error: name 'cursor' is not defined

Example 106:
Query: SELECT SUM(population_female) FROM population WHERE district_name = 'BALAKA';
Error: name 'cursor' is not defined

Example 107:
Query: SELECT SUM(CAST(total_population AS INTEGER)) FROM population WHERE district_name = '  Dowa  ';
Error: name 'cursor' is not defined

Example 108:
Query: SELECT SUM(population_female) FROM population WHERE district_name = 'CHITIPA';
Error: name 'cursor' is not defined

Example 109:
Query: SELECT SUM(CAST(total_population AS INTEGER)) FROM population WHERE ta_name = 'Area 25';
Error: name 'cursor' is not defined

Example 110:
Query: SELECT SUM(CAST(total_population AS INTEGER)) FROM population WHERE district_name = 'CHITIPA';
Error: name 'cursor' is not defined

Example 111:
Query: SELECT DISTINCT ta_name FROM population WHERE district_name = 'Chitipa';
Error: name 'cursor' is not defined

Example 112:
Query: SELECT SUM(population_female) FROM population WHERE district_name = '  Thyolo  ';
Error: name 'cursor' is not defined

Example 113:
Query: SELECT SUM(population_male) FROM population WHERE district_name = 'Blantyre District';
Error: name 'cursor' is not defined

Example 114:
Query: SELECT DISTINCT ta_name FROM population WHERE district_name = 'Blantyre City';
Error: name 'cursor' is not defined

Example 115:
Query: SELECT DISTINCT ta_name FROM population WHERE district_name = '  Balaka  ';
Error: name 'cursor' is not defined

Example 116:
Query: SELECT SUM(CAST(total_population AS INTEGER)) FROM population WHERE ta_name = 'Area 31';
Error: name 'cursor' is not defined

Example 117:
Query: SELECT SUM(population_female) FROM population WHERE district_name = '  Karonga  ';
Error: name 'cursor' is not defined

Example 118:
Query: SELECT DISTINCT ta_name FROM population WHERE district_name = '  Likoma  ';
Error: name 'cursor' is not defined

Example 119:
Query: SELECT SUM(number_households) FROM population WHERE district_name = 'Chikwawa District';
Error: name 'cursor' is not defined

Example 120:
Query: SELECT SUM(CAST(total_population AS INTEGER)) FROM population WHERE region_name = 'Southern';
Error: name 'cursor' is not defined

Example 121:
Query: SELECT SUM(population_male) FROM population WHERE district_name = '  Mchinji  ';
Error: name 'cursor' is not defined

Example 122:
Query: SELECT SUM(number_households) FROM population WHERE district_name = 'Blantyre';
Error: name 'cursor' is not defined

Example 123:
Query: SELECT SUM(population_male) FROM population WHERE district_name = 'Chikwawa District';
Error: name 'cursor' is not defined

Example 124:
Query: SELECT SUM(number_households) FROM population WHERE district_name = '  Chiradzulu  ';
Error: name 'cursor' is not defined

Example 125:
Query: SELECT DISTINCT district_name FROM population WHERE region_name = 'Northern';
Error: name 'cursor' is not defined

Example 126:
Query: SELECT DISTINCT ta_name FROM population WHERE district_name = '  Karonga  ';
Error: name 'cursor' is not defined

Example 127:

In [8]:
# ============================================================================
# COMPREHENSIVE VERIFICATION OF CORRECTED TRAIN.JSON
# ============================================================================
# This script verifies that every SQL statement in train_corrected.json
# executes correctly and produces the expected sql_result

import json
import sqlite3
import os
from typing import Tuple, Any

# Paths
BASE_DIR = os.path.dirname(os.getcwd())
DATABASE_PATH = os.path.join(BASE_DIR, "data", "database", "chichewa_text2sql.db")
DATASET_PATH = os.path.join(BASE_DIR, "data", "train", "train.json")

print(f"Database: {DATABASE_PATH}")
print(f"Dataset: {DATASET_PATH}")
print(f"Database exists: {os.path.exists(DATABASE_PATH)}")
print(f"Dataset exists: {os.path.exists(DATASET_PATH)}")

Database: c:\Users\JOHN EZE\Desktop\Research\chichewa-text2sql\data\database\chichewa_text2sql.db
Dataset: c:\Users\JOHN EZE\Desktop\Research\chichewa-text2sql\data\train\train.json
Database exists: True
Dataset exists: True

In [9]:
# Load the corrected dataset
with open(DATASET_PATH, 'r', encoding='utf-8') as f:
    dataset = json.load(f)

print(f"Total instances loaded: {len(dataset)}")
print(f"\nSample instance:")
print(json.dumps(dataset[0], indent=2))

Total instances loaded: 400

Sample instance:
{
  "question_en": "Which district produced the most Maize",
  "question_ny": "Ndi boma liti komwe anakolola chimanga chambiri?",
  "sql_statement": "WITH max_yield_district AS (\n    SELECT district\n    FROM production\n    WHERE crop = 'Maize'\n    ORDER BY yield DESC\n    LIMIT 1\n)\nSELECT district\nFROM max_yield_district;",
  "sql_result": "[('Lilongwe',)]",
  "difficulty_level": "hard",
  "table": "production"
}

In [10]:
# Connect to the database
conn = sqlite3.connect(DATABASE_PATH)
cursor = conn.cursor()

def execute_sql(sql: str) -> Tuple[bool, Any, str]:
    """Execute SQL and return (success, result, error_message)."""
    try:
        cursor.execute(sql)
        result = cursor.fetchall()
        return True, result, ""
    except sqlite3.Error as e:
        return False, None, str(e)

def format_result_for_comparison(result) -> str:
    """Format result the same way as in the dataset for comparison."""
    if result is None:
        return "[]"
    if not result:
        return "[]"
    
    formatted = []
    for row in result:
        formatted_row = []
        for val in row:
            if isinstance(val, float):
                formatted_row.append(round(val, 2))
            else:
                formatted_row.append(val)
        formatted.append(tuple(formatted_row))
    
    return str(formatted)

print("Database connection established.")

Database connection established.

In [11]:
# ============================================================================
# VERIFY EACH INSTANCE ONE BY ONE
# ============================================================================

print("=" * 80)
print("VERIFICATION RESULTS - CHECKING EVERY INSTANCE")
print("=" * 80)

valid_count = 0
mismatch_count = 0
error_count = 0

mismatches = []
errors = []

for i, instance in enumerate(dataset):
    sql = instance['sql_statement']
    expected = instance['sql_result']
    table = instance['table']
    question = instance['question_en']
    
    # Execute the SQL
    success, actual_result, error_msg = execute_sql(sql)
    
    if not success:
        error_count += 1
        errors.append({
            'index': i,
            'table': table,
            'question': question,
            'sql': sql,
            'error': error_msg
        })
        print(f"[{i:3d}]  ERROR - {table}: {error_msg[:50]}...")
        continue
    
    # Format and compare
    actual_formatted = format_result_for_comparison(actual_result)
    
    if actual_formatted == expected:
        valid_count += 1
        print(f"[{i:3d}]  VALID - {table}: {question[:50]}...")
    else:
        mismatch_count += 1
        mismatches.append({
            'index': i,
            'table': table,
            'question': question,
            'sql': sql,
            'expected': expected,
            'actual': actual_formatted
        })
        print(f"[{i:3d}]  MISMATCH - {table}: {question[:50]}...")

print("\n" + "=" * 80)
print("VERIFICATION SUMMARY")
print("=" * 80)
print(f"Total instances:    {len(dataset)}")
print(f"Valid:              {valid_count} ")
print(f"Mismatches:         {mismatch_count} ")
print(f"Execution errors:   {error_count} ")
print(f"Success rate:       {valid_count / len(dataset) * 100:.2f}%")
print("=" * 80)

================================================================================
VERIFICATION RESULTS - CHECKING EVERY INSTANCE
================================================================================
[  0]  VALID - production: Which district produced the most Maize...
[  1]  VALID - production: Where can I find alot of rice to purchase?...
[  2]  VALID - production: Where can I find Maize?...
[  3]  VALID - production: Which crops did well in Rumphi?...
[  4]  VALID - production: Which districts harvested the most tobacco?...
[  5]  VALID - production: Where can I buy soya?...
[  6]  VALID - production: Which district produced more maize: Lilongwe or Ka...
[  7]  VALID - production: Which district produced the most Macademia in the ...
[  8]  VALID - production: How much Apples were harvested in Dowa during the ...
[  9]  VALID - production: What was the total yield of Velvet beans in the 20...
[ 10]  VALID - production: How much Wheat was produced in Nkhotakota?...
[ 11]  VALID - production: How much Maize was harvested Ntcheu?...
[ 12]  VALID - production: Which crop had the highest yield in Ntchisi during...
[ 13]  VALID - production: Which district produced the most Sweet potatoes in...
[ 14]  VALID - production: Which district produced the most Okra in the 2023-...
[ 15]  VALID - production: Which district produced the most Peaches in the 20...
[ 16]  VALID - production: Which crop had the highest yield in Nsanje during ...
[ 17]  VALID - production: How much Guava was produced in Chitipa in 2024?...
[ 18]  VALID - production: Which district produced the most Avocado pear in t...
[ 19]  VALID - production: Which crop had the highest yield in Thyolo during ...
[ 20]  VALID - production: Which crop had the highest yield in Dedza during 2...
[ 21]  VALID - production: Which crop had the highest yield in Nkhatabay duri...
[ 22]  VALID - production: How much Ground beans was produced in Ntchisi duri...
[ 23]  VALID - production: What was the total yield of Paprika in the 2023-20...
[ 24]  VALID - production: Which crop had the highest yield in Dowa during 20...
[ 25]  VALID - production: What was the total yield of Cassava in the 2023-20...
[ 26]  VALID - production: What was total cassava yield in the country?...
[ 27]  VALID - production: Give me districts (top 5) with highest rice yield?...
[ 28]  VALID - production: Which district had the highest maize yield in the ...
[ 29]  VALID - production: How much cassava was produced in Mangochi during t...
[ 30]  VALID - production: Which crop recorded the highest yield in Kasungu i...
[ 31]  VALID - production: What was the total rice production in the country ...
[ 32]  VALID - production: Which district had the lowest maize yield in the 2...
[ 33]  VALID - production: What was the cassava yield in Salima during the 20...
[ 34]  VALID - production: Which crop had the highest yield in Mzimba in the ...
[ 35]  VALID - production: How much groundnuts were produced in Dedza during ...
[ 36]  VALID - production: Which district produced the most rice in the 2021-...
[ 37]  VALID - production: List the top three crops by yield in Karonga for t...
[ 38]  VALID - production: What was the total maize production across all dis...
[ 39]  VALID - production: Which district had higher soybean yield between Ka...
[ 40]  VALID - production: Which crop had the lowest yield in Mangochi during...
[ 41]  VALID - production: What was the average yield of rice across all dist...
[ 42]  VALID - production: Which district had maize yields above the national...
[ 43]  VALID - production: Which crop had the highest total production nation...
[ 44]  VALID - production: Which district experienced the biggest drop in mai...
[ 45]  VALID - production: Which crops were produced in all districts during ...
[ 46]  VALID - production: How much Maize in total was harvested in the count...
[ 47]  VALID - production: How much Cotton in total was harvested in the coun...
[ 48]  VALID - production: Which district had the highest total maize yield a...
[ 49]  VALID - production: What was the total soybean production in the 2023-...
[ 50]  VALID - production: Which district produced the least cassava in the 2...
[ 51]  VALID - production: How much rice was harvested in Salima during the 2...
[ 52]  VALID - production: Which crop had the lowest yield in Dedza in the 20...
[ 53]  VALID - production: What is the average maize yield per district in th...
[ 54]  VALID - production: Which district produced more groundnuts in 2023-20...
[ 55]  VALID - production: Which districts produced tobacco in the 2021-2022 ...
[ 56]  VALID - production: What was the total production of sweet potatoes in...
[ 57]  VALID - production: Which district had the highest number of different...
[ 58]  VALID - production: Which crop had the highest total production nation...
[ 59]  VALID - production: How many districts produced maize in the 2023-2024...
[ 60]  VALID - production: What is the average rice yield across all district...
[ 61]  VALID - production: Which district had the highest total crop producti...
[ 62]  VALID - production: Which crops were produced in Ntcheu during the 202...
[ 63]  VALID - production: Which district had the lowest total production in ...
[ 64]  VALID - production: How many different crops were produced nationally ...
[ 65]  VALID - production: Which crops had an average yield above 500 in the ...
[ 66]  VALID - production: Which district produced both maize and rice in the...
[ 67]  VALID - production: Which crop showed the largest variation in yield a...
[ 68]  VALID - production: Which district experienced the largest increase in...
[ 69]  VALID - production: How many crops had a total national yield above 10...
[ 70]  VALID - production: Which district produced groundnuts in every record...
[ 71]  VALID - production: What is the difference between the highest and low...
[ 72]  VALID - production: Which crop was produced in the greatest number of ...
[ 73]  VALID - production: How many districts recorded zero production for ca...
[ 74]  VALID - production: Which district had the most balanced crop yields i...
[ 75]  VALID - production: What was the average yield of all crops combined i...
[ 76]  VALID - production: Which district produced crops only in one season a...
[ 77]  VALID - production: Which crops were never produced in the 2021-2022 s...
[ 78]  VALID - production: What was the total Grape fruits yield in 2023-2024...
[ 79]  VALID - production: What is the average Chick peas yield?...
[ 80]  VALID - population: Districts count in Central...
[ 81]  VALID - population: How many males in   Machinga  ?...
[ 82]  VALID - population: Districts count in Southern...
[ 83]  VALID - population: List TAs in   Phalombe  ...
[ 84]  VALID - population: How many females in Chikwawa?...
[ 85]  VALID - population: Which districts are in Central region?...
[ 86]  VALID - population: Total population in Central region...
[ 87]  VALID - population: How many males in   Nkhotakota  ?...
[ 88]  VALID - population: Which districts are in Southern region?...
[ 89]  VALID - population: List TAs in   Dowa  ...
[ 90]  VALID - population: List TAs in   Mzimba  ...
[ 91]  VALID - population: How many males in   Blantyre City  ?...
[ 92]  VALID - population: How many males in   Ntcheu  ?...
[ 93]  VALID - population: Total population in Northern region...
[ 94]  VALID - population: How many households in CHIRADZULU?...
[ 95]  VALID - population: How many males in Blantyre City?...
[ 96]  VALID - population: List TAs in Chiradzulu...
[ 97]  VALID - population: Population of TA Area 36?...
[ 98]  VALID - population: List TAs in   Mangochi  ...
[ 99]  VALID - population: What is the total population in   Mangochi  ?...
[100]  VALID - population: How many households in Balaka District?...
[101]  VALID - population: How many households in CHIKWAWA?...
[102]  VALID - population: Population of TA Area 13?...
[103]  VALID - population: How many households in Chiradzulu District?...
[104]  VALID - population: Districts count in Northern...
[105]  VALID - population: How many females in BALAKA?...
[106]  VALID - population: What is the total population in   Dowa  ?...
[107]  VALID - population: How many females in CHITIPA?...
[108]  VALID - population: Population of TA Area 25?...
[109]  VALID - population: What is the total population in CHITIPA?...
[110]  VALID - population: List TAs in Chitipa...
[111]  VALID - population: How many females in   Thyolo  ?...
[112]  VALID - population: How many males in Blantyre District?...
[113]  VALID - population: List TAs in Blantyre City...
[114]  VALID - population: List TAs in   Balaka  ...
[115]  VALID - population: Population of TA Area 31?...
[116]  VALID - population: How many females in   Karonga  ?...
[117]  VALID - population: List TAs in   Likoma  ...
[118]  VALID - population: How many households in Chikwawa District?...
[119]  VALID - population: Total population in Southern region...
[120]  VALID - population: How many males in   Mchinji  ?...
[121]  VALID - population: How many households in Blantyre?...
[122]  VALID - population: How many males in Chikwawa District?...
[123]  VALID - population: How many households in   Chiradzulu  ?...
[124]  VALID - population: Which districts are in Northern region?...
[125]  VALID - population: List TAs in   Karonga  ...
[126]  VALID - population: Population of TA Area 12?...
[127]  VALID - population: How many males in CHIRADZULU?...
[128]  VALID - population: How many TAs in   Phalombe  ?...
[129]  VALID - population: How many males in   Chikwawa  ?...
[130]  VALID - population: How many households in BLANTYRE CITY?...
[131]  VALID - population: How many TAs in   Lilongwe  ?...
[132]  VALID - population: List TAs in   Dedza  ...
[133]  VALID - population: How many households in   Likoma  ?...
[134]  VALID - population: Population of TA Area 35?...
[135]  VALID - population: What is the total population in   Likoma  ?...
[136]  VALID - population: How many TAs in   Mulanje  ?...
[137]  VALID - population: How many TAs in Chikwawa?...
[138]  VALID - population: List TAs in CHIRADZULU...
[139]  VALID - population: How many females in   Lilongwe City  ?...
[140]  VALID - population: What is the total population in Blantyre?...
[141]  VALID - population: What is the total population in Chiradzulu Distric...
[142]  VALID - population: How many males in   Lilongwe  ?...
[143]  VALID - population: How many males in CHITIPA?...
[144]  VALID - population: How many males in Balaka District?...
[145]  VALID - population: How many TAs in CHIRADZULU?...
[146]  VALID - population: List TAs in   Neno  ...
[147]  VALID - population: How many females in CHIRADZULU?...
[148]  VALID - population: Population of TA Area 1?...
[149]  VALID - population: How many males in BLANTYRE CITY?...
[150]  VALID - population: How many females in   Salima  ?...
[151]  VALID - population: What is the total population in CHIRADZULU?...
[152]  VALID - population: How many males in   Karonga  ?...
[153]  VALID - population: How many males in Chiradzulu District?...
[154]  VALID - population: What is the total population in   Chitipa  ?...
[155]  VALID - population: How many females in Blantyre District?...
[156]  VALID - population: Population of TA Area 21?...
[157]  VALID - population: How many females in BLANTYRE CITY?...
[158]  VALID - population: How many TAs in   Karonga  ?...
[159]  VALID - population: How many females in   Mchinji  ?...
[160]  VALID - food_insecurity: Food insecurity percentage in Phalombe?...
[161]  VALID - food_insecurity: Food insecurity percentage in Nkhata bay?...
[162]  VALID - food_insecurity: Districts with percentage above 20?...
[163]  VALID - food_insecurity: Food insecurity percentage in Dedza?...
[164]  VALID - food_insecurity: Food insecurity level in Zomba?...
[165]  VALID - food_insecurity: Districts with insecurity level 3?...
[166]  VALID - food_insecurity: Time period for Mangochi?...
[167]  VALID - food_insecurity: Food insecurity level in Lilongwe city?...
[168]  VALID - food_insecurity: Highest food insecurity district?...
[169]  VALID - food_insecurity: Time period for Nkhotakota?...
[170]  VALID - food_insecurity: Lowest food insecurity district?...
[171]  VALID - food_insecurity: Analyzed population in Mulanje?...
[172]  VALID - food_insecurity: Insecurity description for Mulanje?...
[173]  VALID - food_insecurity: Analyzed population in Rumphi?...
[174]  VALID - food_insecurity: Count of critical districts?...
[175]  VALID - food_insecurity: Insecurity description for Dowa?...
[176]  VALID - food_insecurity: Insecurity description for Lilongwe city?...
[177]  VALID - food_insecurity: Food insecurity level in Rumphi?...
[178]  VALID - food_insecurity: Total analyzed population?...
[179]  VALID - food_insecurity: Insecurity description for Neno?...
[180]  VALID - food_insecurity: Time period for Phalombe?...
[181]  VALID - food_insecurity: Food insecurity percentage in Lilongwe city?...
[182]  VALID - food_insecurity: Insecurity description for Mzuzu city?...
[183]  VALID - food_insecurity: Time period for Machinga?...
[184]  VALID - food_insecurity: Average insecurity percentage?...
[185]  VALID - food_insecurity: Districts with insecurity level 2?...
[186]  VALID - food_insecurity: Districts with insecurity level 1?...
[187]  VALID - food_insecurity: Food insecurity level in Mchinji?...
[188]  VALID - food_insecurity: Insecurity description for Chiradzulu?...
[189]  VALID - food_insecurity: Food insecurity percentage in Balaka?...
[190]  VALID - food_insecurity: Insecurity description for Rumphi?...
[191]  VALID - food_insecurity: Food insecurity percentage in Mangochi?...
[192]  VALID - food_insecurity: Analyzed population in Phalombe?...
[193]  VALID - food_insecurity: Food insecurity level in Machinga?...
[194]  VALID - food_insecurity: Districts with insecurity level 4?...
[195]  VALID - food_insecurity: Insecurity description for Blantyre?...
[196]  VALID - food_insecurity: Time period for Ntcheu?...
[197]  VALID - food_insecurity: Food insecurity level in Nkhotakota?...
[198]  VALID - food_insecurity: Food insecurity level in Kasungu?...
[199]  VALID - food_insecurity: Food insecurity percentage in Zomba?...
[200]  VALID - food_insecurity: Insecurity description for Machinga?...
[201]  VALID - food_insecurity: Food insecurity percentage in Dowa?...
[202]  VALID - food_insecurity: Time period for Dedza?...
[203]  VALID - food_insecurity: Food insecurity level in Mzuzu city?...
[204]  VALID - food_insecurity: Insecurity description for Mchinji?...
[205]  VALID - food_insecurity: Analyzed population in Blantyre city?...
[206]  VALID - food_insecurity: Analyzed population in Nkhata bay?...
[207]  VALID - food_insecurity: Food insecurity percentage in Mwanza?...
[208]  VALID - food_insecurity: Insecurity description for Ntcheu?...
[209]  VALID - food_insecurity: Food insecurity level in Zomba city?...
[210]  VALID - food_insecurity: Food insecurity percentage in Zomba city?...
[211]  VALID - food_insecurity: Time period for Mwanza?...
[212]  VALID - food_insecurity: Food insecurity level in Chitipa?...
[213]  VALID - food_insecurity: Time period for Nsanje?...
[214]  VALID - food_insecurity: Time period for Mulanje?...
[215]  VALID - food_insecurity: Analyzed population in Lilongwe city?...
[216]  VALID - food_insecurity: Analyzed population in Lilongwe?...
[217]  VALID - food_insecurity: Food insecurity level in Karonga?...
[218]  VALID - food_insecurity: Food insecurity level in Chikhwawa?...
[219]  VALID - food_insecurity: Time period for Karonga?...
[220]  VALID - food_insecurity: Analyzed population in Balaka?...
[221]  VALID - food_insecurity: Time period for Zomba?...
[222]  VALID - food_insecurity: Food insecurity level in Mulanje?...
[223]  VALID - food_insecurity: Analyzed population in Chiradzulu?...
[224]  VALID - food_insecurity: Food insecurity percentage in Mzuzu city?...
[225]  VALID - food_insecurity: Districts with insecurity level 5?...
[226]  VALID - food_insecurity: Time period for Rumphi?...
[227]  VALID - food_insecurity: Insecurity description for Chikhwawa?...
[228]  VALID - food_insecurity: Analyzed population in Likoma?...
[229]  VALID - food_insecurity: Analyzed population in Mangochi?...
[230]  VALID - food_insecurity: Time period for Kasungu?...
[231]  VALID - food_insecurity: Food insecurity level in Likoma?...
[232]  VALID - food_insecurity: Insecurity description for Mzimba?...
[233]  VALID - food_insecurity: Analyzed population in Thyolo?...
[234]  VALID - food_insecurity: Time period for Blantyre?...
[235]  VALID - food_insecurity: Insecurity description for Blantyre city?...
[236]  VALID - food_insecurity: Food insecurity percentage in Rumphi?...
[237]  VALID - food_insecurity: Analyzed population in Zomba?...
[238]  VALID - food_insecurity: Time period for Ntchisi?...
[239]  VALID - food_insecurity: Food insecurity level in Thyolo?...
[240]  VALID - commodity_prices: What is the price of Maize in Rumphi...
[241]  VALID - commodity_prices: What is the price of rice in Lilongwe district now...
[242]  VALID - commodity_prices: Which district has the lowest price for groundnuts...
[243]  VALID - commodity_prices: Where is it cheap to buy Maize?...
[244]  VALID - commodity_prices: Where is the best place to sell soya?...
[245]  VALID - commodity_prices: Whats the price of beans?...
[246]  VALID - commodity_prices: How much is maize in Dowa?...
[247]  VALID - commodity_prices: Districts with cheap beans?...
[248]  VALID - commodity_prices: Where can i get cheap groundnuts?...
[249]  VALID - commodity_prices: current price of Maize in the country?...
[250]  VALID - commodity_prices: How much is a bag of 50kg of Maize in Rumphi?...
[251]  VALID - commodity_prices: How much is a bag of Maize in Nsanje?...
[252]  VALID - commodity_prices: Price of a 100 Kg bag of beans in Lilongwe?...
[253]  VALID - commodity_prices: How much is a bag of Maize?...
[254]  VALID - commodity_prices: What is the average maize price in Kasungu?...
[255]  VALID - commodity_prices: Which district recorded the highest rice price?...
[256]  VALID - commodity_prices: What is the minimum beans price recorded in Mzimba...
[257]  VALID - commodity_prices: Which market has the highest average rice price?...
[258]  VALID - commodity_prices: What is the total maize price sum recorded in Lilo...
[259]  VALID - commodity_prices: Which districts have rice prices above the nationa...
[260]  VALID - commodity_prices: Which commodity had the highest average price in t...
[261]  VALID - commodity_prices: Which market recorded the largest price difference...
[262]  VALID - commodity_prices: What is the average price of maize in Salima?...
[263]  VALID - commodity_prices: Which district recorded the lowest rice price?...
[264]  VALID - commodity_prices: What is the highest beans price recorded in Lilong...
[265]  VALID - commodity_prices: Which market recorded the lowest maize price?...
[266]  VALID - commodity_prices: What is the average price of rice in Dedza?...
[267]  VALID - commodity_prices: Which district has the highest average maize price...
[268]  VALID - commodity_prices: Which market has the highest average beans price?...
[269]  VALID - commodity_prices: What is the average maize price recorded on the mo...
[270]  VALID - commodity_prices: Which commodity has the lowest average price?...
[271]  VALID - commodity_prices: How many districts recorded maize prices above 700...
[272]  VALID - commodity_prices: Which districts have an average beans price above ...
[273]  VALID - commodity_prices: Which commodity shows the smallest price variation...
[274]  VALID - commodity_prices: Which market has maize prices consistently above t...
[275]  VALID - commodity_prices: Which district recorded the highest rice price on ...
[276]  VALID - commodity_prices: Which commodity had prices recorded in all distric...

In [ ]:
# ============================================================================
# SHOW DETAILS OF ANY MISMATCHES
# ============================================================================

if mismatches:
    print("\n" + "=" * 80)
    print("MISMATCH DETAILS")
    print("=" * 80)
    
    for m in mismatches[:10]:  # Show first 10 mismatches
        print(f"\n[Instance {m['index']}] Table: {m['table']}")
        print(f"Question: {m['question']}")
        print(f"SQL: {m['sql'][:100]}...")
        print(f"Expected: {m['expected'][:100]}...")
        print(f"Actual:   {m['actual'][:100]}...")
        print("-" * 80)
else:
    print("\n ALL INSTANCES VERIFIED SUCCESSFULLY - NO MISMATCHES!")

if errors:
    print("\n" + "=" * 80)
    print("EXECUTION ERROR DETAILS")
    print("=" * 80)
    
    for e in errors[:10]:  # Show first 10 errors
        print(f"\n[Instance {e['index']}] Table: {e['table']}")
        print(f"Question: {e['question']}")
        print(f"SQL: {e['sql'][:100]}...")
        print(f"Error: {e['error']}")
        print("-" * 80)
else:
    print("\n ALL SQL STATEMENTS EXECUTED SUCCESSFULLY - NO ERRORS!")

================================================================================
MISMATCH DETAILS
================================================================================

[Instance 0] Table: production
Question: Which district produced the most Maize
SQL: WITH max_yield_district AS (
    SELECT district
    FROM production
    WHERE crop = 'Maize'
    OR...
Expected: Lilongwe...
Actual:   [('Lilongwe',)]...
--------------------------------------------------------------------------------

[Instance 1] Table: production
Question: Where can I find alot of rice to purchase?
SQL: WITH max_yield_district AS (
    SELECT district
    FROM production
    WHERE crop = 'Rice'
    ORD...
Expected: Karonga...
Actual:   [('Karonga',)]...
--------------------------------------------------------------------------------

[Instance 2] Table: production
Question: Where can I find Maize?
SQL: WITH max_yield_district AS (
    SELECT district
    FROM production
    WHERE crop = 'Maize'
    OR...
Expected: [["Lilongwe"], ["Kasungu"], ["Dowa"], ["Mzimba"], ["Mchinji"]]...
Actual:   [('Lilongwe',), ('Kasungu',), ('Dowa',), ('Mzimba',), ('Mchinji',)]...
--------------------------------------------------------------------------------

[Instance 3] Table: production
Question: Which crops did well in Rumphi?
SQL: SELECT crop FROM production WHERE district = 'Rumphi' ORDER BY yield DESC LIMIT 5;...
Expected: [["Cassava"], ["Maize"], ["Sweet potatoes"], ["Bananas"], ["Mangoes"]]...
Actual:   [('Cassava',), ('Maize',), ('Sweet potatoes',), ('Bananas',), ('Mangoes',)]...
--------------------------------------------------------------------------------

[Instance 4] Table: production
Question: Which districts harvested the most tobacco?
SQL: WITH max_yield_district AS (
    SELECT district
    FROM production
    WHERE crop = 'Tobacco'
    ...
Expected: [["Lilongwe"], ["Dowa"], ["Nkhotakota"], ["Mchinji"], ["Rumphi"]]...
Actual:   [('Lilongwe',), ('Dowa',), ('Nkhotakota',), ('Mchinji',), ('Rumphi',)]...
--------------------------------------------------------------------------------

[Instance 5] Table: production
Question: Where can I buy soya?
SQL: WITH max_yield_district AS (
        SELECT district
        FROM production
        WHERE crop = 'S...
Expected: [["Lilongwe"], ["Mchinji"], ["Ntchisi"], ["Kasungu"], ["Mzimba"]]...
Actual:   [('Lilongwe',), ('Mchinji',), ('Ntchisi',), ('Kasungu',), ('Mzimba',)]...
--------------------------------------------------------------------------------

[Instance 6] Table: production
Question: Which district produced more maize: Lilongwe or Kasungu?
SQL: WITH district_yields AS (
    SELECT district, SUM(yield) AS total_yield
    FROM production
    WHE...
Expected: Lilongwe...
Actual:   [('Lilongwe',)]...
--------------------------------------------------------------------------------

[Instance 7] Table: production
Question: Which district produced the most Macademia in the 2023-2024 season?
SQL: SELECT District, MAX(Yield) as Max_Yield FROM production WHERE Crop = 'Macademia' AND Season = '2023...
Expected: [["Mangochi", 4998.0]]...
Actual:   [('Mangochi', 4998.0)]...
--------------------------------------------------------------------------------

[Instance 8] Table: production
Question: How much Apples were harvested in Dowa during the last season?
SQL: SELECT Yield FROM production WHERE District = 'Dowa' AND Crop = 'Apples';...
Expected: 0.0...
Actual:   [(0.0,)]...
--------------------------------------------------------------------------------

[Instance 9] Table: production
Question: What was the total yield of Velvet beans in the 2023-2024 season?
SQL: SELECT SUM(Yield) as Total_Yield FROM production WHERE Crop = 'Beans' AND Season = '2023-2024';...
Expected: 214535.6...
Actual:   [(214535.6,)]...
--------------------------------------------------------------------------------

================================================================================
EXECUTION ERROR DETAILS
================================================================================

[Instance 160] Table: population
Question: How many people live in Lilongwe?
SQL: SELECT COUNT(*) FROM population WHERE district = 'Lilongwe';...
Error: no such column: district
--------------------------------------------------------------------------------

[Instance 161] Table: population
Question: How many males are in Mzimba?
SQL: SELECT COUNT(*) FROM population WHERE district = 'Mzimba' AND gender = 'Male';...
Error: no such column: district
--------------------------------------------------------------------------------

[Instance 162] Table: population
Question: What is the average age of people in Blantyre?
SQL: SELECT AVG(age) FROM population WHERE district = 'Blantyre';...
Error: no such column: age
--------------------------------------------------------------------------------

[Instance 163] Table: population
Question: How many females live in Dedza?
SQL: SELECT COUNT(*) FROM population WHERE district = 'Dedza' AND gender = 'Female';...
Error: no such column: district
--------------------------------------------------------------------------------

[Instance 164] Table: population
Question: How many people are older than 60 in Mangochi?
SQL: SELECT COUNT(*) FROM population WHERE district = 'Mangochi' AND age > 60;...
Error: no such column: district
--------------------------------------------------------------------------------

[Instance 165] Table: population
Question: Which district has the highest population?
SQL: SELECT district FROM population GROUP BY district ORDER BY COUNT(*) DESC LIMIT 1;...
Error: no such column: district
--------------------------------------------------------------------------------

[Instance 166] Table: population
Question: Which district has the lowest population?
SQL: SELECT district FROM population GROUP BY district ORDER BY COUNT(*) ASC LIMIT 1;...
Error: no such column: district
--------------------------------------------------------------------------------

[Instance 167] Table: population
Question: What is the average age of males in Kasungu?
SQL: SELECT AVG(age) FROM population WHERE district = 'Kasungu' AND gender = 'Male';...
Error: no such column: age
--------------------------------------------------------------------------------

[Instance 168] Table: population
Question: How many people are between 18 and 35 years old in Salima?
SQL: SELECT COUNT(*) FROM population WHERE district = 'Salima' AND age BETWEEN 18 AND 35;...
Error: no such column: district
--------------------------------------------------------------------------------

[Instance 169] Table: population
Question: What is the gender distribution in Mchinji?
SQL: SELECT gender, COUNT(*) FROM population WHERE district = 'Mchinji' GROUP BY gender;...
Error: no such column: gender
--------------------------------------------------------------------------------

:

In [12]:
# ============================================================================
# VERIFICATION BY TABLE
# ============================================================================

print("\n" + "=" * 80)
print("VERIFICATION BY TABLE")
print("=" * 80)

from collections import defaultdict
table_stats = defaultdict(lambda: {'valid': 0, 'mismatch': 0, 'error': 0, 'total': 0})

for i, instance in enumerate(dataset):
    table = instance['table']
    table_stats[table]['total'] += 1

# Count from our results
for e in errors:
    table_stats[e['table']]['error'] += 1
    
for m in mismatches:
    table_stats[m['table']]['mismatch'] += 1

for table in table_stats:
    table_stats[table]['valid'] = (table_stats[table]['total'] - 
                                    table_stats[table]['error'] - 
                                    table_stats[table]['mismatch'])

print(f"\n{'Table':<20} {'Total':>8} {'Valid':>8} {'Mismatch':>10} {'Error':>8} {'Rate':>10}")
print("-" * 70)

for table, stats in sorted(table_stats.items()):
    rate = stats['valid'] / stats['total'] * 100 if stats['total'] > 0 else 0
    status = "" if rate == 100 else ""
    print(f"{table:<20} {stats['total']:>8} {stats['valid']:>8} {stats['mismatch']:>10} {stats['error']:>8} {rate:>9.1f}% {status}")

print("-" * 70)

================================================================================
VERIFICATION BY TABLE
================================================================================

Table                   Total    Valid   Mismatch    Error       Rate
----------------------------------------------------------------------
commodity_prices           80       80          0        0     100.0%
food_insecurity            80       80          0        0     100.0%
mse_daily                  80       80          0        0     100.0%
population                 80       80          0        0     100.0%
production                 80       80          0        0     100.0%
----------------------------------------------------------------------

In [13]:
# ============================================================================
# SPOT CHECK - RANDOMLY VERIFY 5 INSTANCES MANUALLY
# ============================================================================

import random
random.seed(42)

print("\n" + "=" * 80)
print("SPOT CHECK - DETAILED MANUAL VERIFICATION OF 5 RANDOM INSTANCES")
print("=" * 80)

sample_indices = random.sample(range(len(dataset)), 5)

for idx in sample_indices:
    instance = dataset[idx]
    print(f"\n{'='*80}")
    print(f"INSTANCE #{idx}")
    print(f"{'='*80}")
    print(f"Table: {instance['table']}")
    print(f"Difficulty: {instance['difficulty_level']}")
    print(f"\nQuestion (EN): {instance['question_en']}")
    print(f"Question (NY): {instance['question_ny']}")
    print(f"\nSQL Statement:")
    print(f"  {instance['sql_statement']}")
    
    # Execute
    success, result, error = execute_sql(instance['sql_statement'])
    actual_formatted = format_result_for_comparison(result) if success else "ERROR"
    
    print(f"\nStored Result:   {instance['sql_result'][:100]}...")
    print(f"Executed Result: {actual_formatted[:100]}...")
    
    match = " MATCH" if actual_formatted == instance['sql_result'] else " MISMATCH"
    print(f"\nVerification: {match}")

================================================================================
SPOT CHECK - DETAILED MANUAL VERIFICATION OF 5 RANDOM INSTANCES
================================================================================

================================================================================
INSTANCE #327
================================================================================
Table: mse_daily
Difficulty: easy

Question (EN): What is the average closing price of Sunbird Tourism?
Question (NY): Mtengo wapakati wotseka wa Sunbird Tourism ndi uti?

SQL Statement:
  SELECT AVG(close_price) FROM mse_daily WHERE company_name = 'Sunbird Tourism';

Stored Result:   [(173.27,)]...
Executed Result: [(173.27,)]...

Verification:  MATCH

================================================================================
INSTANCE #57
================================================================================
Table: production
Difficulty: hard

Question (EN): Which district had the highest number of different crops produced in the 2023-2024 season?
Question (NY): Ndi boma liti lomwe linakolola mitundu yambiri ya mbewu mu nyengo ya 2023-2024?

SQL Statement:
  SELECT district FROM production WHERE season = '2023-2024' GROUP BY district ORDER BY COUNT(DISTINCT crop) DESC LIMIT 1;

Stored Result:   [('mwanza',)]...
Executed Result: [('mwanza',)]...

Verification:  MATCH

================================================================================
INSTANCE #12
================================================================================
Table: production
Difficulty: easy

Question (EN): Which crop had the highest yield in Ntchisi during 2023-2024?
Question (NY): Ndi mbewu yanji idali ndi zokolola zochuluka ku Ntchisi mu chaka cha  2023-2024?

SQL Statement:
  SELECT District, MAX(Yield) as Max_Yield FROM production WHERE Season = '2023-2024';

Stored Result:   [('Lilongwe', 953323.0)]...
Executed Result: [('Lilongwe', 953323.0)]...

Verification:  MATCH

================================================================================
INSTANCE #379
================================================================================
Table: mse_daily
Difficulty: medium

Question (EN): Which sector has the largest number of listed companies?
Question (NY): Ndi gawo liti lomwe lili ndi makampani ambiri olembedwa?

SQL Statement:
  SELECT sector FROM mse_daily GROUP BY sector ORDER BY COUNT(DISTINCT company_name) DESC LIMIT 1;

Stored Result:   [('Banking',)]...
Executed Result: [('Banking',)]...

Verification:  MATCH

================================================================================
INSTANCE #140
================================================================================
Table: population
Difficulty: easy

Question (EN): What is the total population in Blantyre?
Question (NY): Ndi anthu angati ku Blantyre?

SQL Statement:
  SELECT SUM(CAST(total_population AS INTEGER)) FROM population WHERE district_name = 'Blantyre';

Stored Result:   [(133586,)]...
Executed Result: [(133586,)]...

Verification:  MATCH

In [14]:
# ============================================================================
# FINAL REPORT
# ============================================================================

print("\n" + "=" * 80)
print("FINAL VERIFICATION REPORT")
print("=" * 80)

print(f"""
Dataset: train_corrected.json
Database: chichewa_text2sql.db

STATISTICS:
-----------
Total Instances:     {len(dataset)}
Successfully Valid:  {valid_count}
Mismatches:          {mismatch_count}
Execution Errors:    {error_count}

SUCCESS RATE: {valid_count / len(dataset) * 100:.2f}%

TABLES COVERED:
""")

for table in sorted(table_stats.keys()):
    print(f"  - {table}: {table_stats[table]['total']} instances")

if valid_count == len(dataset):
    print("\n" + "" * 20)
    print("CONGRATULATIONS! ALL 400 INSTANCES ARE VERIFIED AND CORRECT!")
    print("The dataset is ready for Text-to-SQL experiments.")
    print("" * 20)
else:
    print(f"\n  {len(dataset) - valid_count} instances need attention.")

# Close database connection
conn.close()
print("\nDatabase connection closed.")

================================================================================
FINAL VERIFICATION REPORT
================================================================================

Dataset: train_corrected.json
Database: chichewa_text2sql.db

STATISTICS:
-----------
Total Instances:     400
Successfully Valid:  400
Mismatches:          0
Execution Errors:    0

SUCCESS RATE: 100.00%

TABLES COVERED:

  - commodity_prices: 80 instances
  - food_insecurity: 80 instances
  - mse_daily: 80 instances
  - population: 80 instances
  - production: 80 instances


CONGRATULATIONS! ALL 400 INSTANCES ARE VERIFIED AND CORRECT!
The dataset is ready for Text-to-SQL experiments.


Database connection closed.